<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Mathify|<%= title %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
        body{
            padding: 0 20px;
            background-color: rgb(36, 36, 36);
            color: #fff;
        }

        nav{
           
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }

        nav ul{
         
        display: flex;
         align-items: flex-end;
           
        }
        nav li{
            list-style-type:none ;
            margin-left: 20px;
        }
        nav h1{
            font-size:30px;

        }
        nav p,nav a{
            color: #ddd;
            font-size: 20px;
            text-decoration: none;
        }
        .blogs h2,.about h2{
            font-size: 40px;
            margin-bottom: 50px;
         
        }
        .blogs h3{
            font-size: 25px;
        }
        .single{

            text-decoration: none;
        }    
        .single h3{
            font-size: 30px;
           color: white;
           margin-bottom: 0px;
        } 
        .single p{
           font-size: 18px;
            
            color: white;
            margin-bottom: 40px;
        }  
        .create-blog form{
            height:500px;
            width:400px;
            margin:0 auto;

        }
        footer{
            text-align: center;
        }

        .content{
            margin-left: 20px;
        }
        .create-blog  button{
            margin-top: 8px;
            background-color: rgb(158, 158, 158);
            width: 90px;
            font-size: 20px;
            border-radius: 15px;
            cursor: pointer;
        }
    </style>
</head>